@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: norwester;
  src: url('../app/fonts/norwester.otf');
}

body {
  overflow-x: hidden;
}


h1 {
  @apply text-xl md:text-2xl lg:text-3xl uppercase font-[norwester]
}

h2 {
  @apply text-base
}

p {
  @apply text-base md:text-lg
}

.container {
  @apply py-10
}

.row {
  @apply max-w-6xl mx-auto w-full px-8
}

.flex-center {
  @apply flex items-center justify-center
}

.styled__button {
  @apply py-2 px-8 bg-[#000] rounded
}

.title {
  @apply text-[50px] md:text-[70px] leading-none
}

.section__title {
  @apply text-[32px] md:text-[52px] leading-none
}

.filter__blue {
  filter: brightness(0) saturate(100%) invert(15%) sepia(54%) saturate(3581%) hue-rotate(207deg) brightness(91%) contrast(91%);
}

.filter__white {
  filter: brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(0%) hue-rotate(93deg) brightness(103%) contrast(103%);}

.social-icon--wrapper {
  @apply border rounded-full p-2 mx-1
}

.social-icon {
  @apply w-4
}

.footer__link {
  @apply mx-4
}

/* NAV BAR */

.nav__link {
  @apply mx-4
}

.program__nav--links {
  visibility: hidden;
  opacity: 0;
  width: 160px;
  transform: translateX(-30px);
  transition: all 700ms ease;
}

.program__nav:hover .program__nav--links{
  visibility: visible;
  opacity: 1;
  transform: translateX(0);
}

.program__nav--link {
  @apply py-1 uppercase transition-all hover:translate-x-2 hover:text-[#fcdd77]
}

.program__nav--link-burger {
  @apply p-4 uppercase transition-all hover:translate-x-2 hover:text-[#fcdd77]
  border-y
}

.burger--open {
  @apply translate-x-0 !important
}

/* PROGRAMS */

.overlay {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  background-color: #0d3f84f6;
  transition: all 300ms ease;
  color: #fff;
  height: 100%;
  width: 100%;
}

.overlay:hover {
  opacity: 1;
}

.carousel-btn {
  @apply bg-[#fff] rounded-full p-2 shadow-xl flex items-center justify-center border 
}

/* ANIMATIONS */

.ocean { 
  height: 2%;
  width:100%;
  position:relative;
  bottom:0;
  left:0;
  z-index: 0;
  background: #015871;
  
}

.wave {
  background: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/85486/wave.svg) repeat-x; 
  position: absolute;
  bottom: 0;
  width: 6400px;
  height: 138px;
  animation: wave 7s cubic-bezier( 0.36, 0.45, 0.63, 0.53) infinite;
  transform: translate3d(0, 0, 0);
  z-index: 0;
}

.wave:nth-of-type(2) {
  top: -125px;
  animation: wave 7s cubic-bezier( 0.36, 0.45, 0.63, 0.53) -.125s infinite;
  z-index: 0;
}

.wave:nth-of-type(3) {
  top: -130px;
  animation: wave 7s cubic-bezier( 0.36, 0.45, 0.63, 0.53) -.155s infinite;
  z-index: 0;
}

@keyframes wave {
  0% {
    margin-left: 0;
  }
  100% {
    margin-left: -1600px;
  }
}

