@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: norwester;
  src: url('../app/fonts/norwester.otf');
}

body {
  overflow-x: hidden;
}

h1 {
  @apply text-xl md:text-2xl lg:text-3xl uppercase font-[norwester]
}

h2 {
  @apply text-base
}

p {
  @apply text-sm md:text-base
}

.row {
  @apply max-w-6xl mx-auto w-full px-8
}

.flex-center {
  @apply flex items-center justify-center
}

/* NAV BAR */

.nav__link {
  @apply mr-4
}

